/* 
    Created on : 19/10/2016, 11:42:59
    Author     : Pablo Daniel Quiroga
*/
form{
    /* centrado en pagina */
    margin: 20px auto;
    width: 300px;
    /* borde del formulario */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}
form div + div{/* espaciado entre elementos */
    margin-top: 1em;
}
label{/* Alineacion y propiedades de labels */
    display: inline-block;
    width: 90px;
    text-align: left;
}
input{/* Alineacion y propiedades de campos de texto */
    width: 200px;
}

#titulo{/* Alineacion de titulo de form */
    text-align: center;
}
#btnEnviar{
    margin: 0 50px 0 50px;
    width: 200px;
}